@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 9vh;
    background-color: #EBEBEB;
}

header h2{
    font-size: 24px;
    font-weight: bold;
}

.container{
    height: 91vh;
    width: 100%;
}

.bus-select{
    background-color: #E5E5E5;
    width: 50%;
    height: 91vh;
}

.container .bus{
    background-color: #F1f1f1;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 227px;
    height: 97%;
    justify-content: space-around;
}

.seat{
    flex-direction: row;
    flex-wrap: wrap;
    width: 36%;
    height: 100%;
    padding-top: 62px;
    padding-bottom: 7%;
    justify-content: space-around;
    align-content: flex-start;
}

.poltrona{
    width: 38px;
    height: 8%;
    background-color: #C4C4C4;
    text-decoration: none;
    color: black;
    margin-bottom: 3%;
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.bus-info{
    width: 50%;
    height: 100%;
}
